/*
=============== 
Recipes
===============
*/
.recipes-container {
  display: grid;
  gap: 2rem 1rem;
  border: 2px solid red;
}

.tags-container {
  border: 1px solid blue;
  order: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
  border: 2px solid green;
}

.tags-container h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tags-list a {
  text-transform: capitalize;
  display: block;
  color: var(--grey-500);
  transition: var(--transition);
}

.tags-list a:hover {
  color: var(--primary-500);
}

.recipe {
  display: block;
}

.recipe-img {
  height: 15rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}

.recipe h5 {
  margin-bottom: 0;
  line-height: 1;
  color: var(--grey-700);
}

.recipe p {
  margin-bottom: 0;
  line-height: 1;
  margin-top: 0.5rem;
  color: var(--grey-500);
  letter-spacing: var(--letterSpacing);
}
